@mixin positionOffset( 
	$top: null, 
	$bottom: null,
	$left: null,
	$right: null
){
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
}

@mixin padding(
	$top: auto,
	$bottom: auto,
	$left: auto,
	$right: auto
){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-left: $left;
	padding-right: $right;
}

@mixin margin(
	$top: auto,
	$bottom: auto,
	$left: auto,
	$right: auto
){
	margin-top: $top;
	margin-bottom: $bottom;
	margin-left: $left;
	margin-right: $righ;
}

@mixin font-shorthand(
	$fz: null,
	$ff: null,
	$lh: 1.5,
	$etc: null
){
	@if $fz == null or $ff == null {
		@error "font"
	}

	font: $etc $etc _fontShortHand( $fz, $lh ) $ff
}

@mixin font( $args... ){
	@include font-shorthand( $args... );
}