@mixin positionOffset( 
	$top:auto, 
	$bottom:auto,
	$left: auto,
	$right: auto
){
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
}

@mixin padding(
	$top: auto,
	$bottom: auto,
	$left: auto,
	$right: auto
){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-left: $left;
	padding-right: $right;
}

@mixin margin(
	$top: auto,
	$bottom: auto,
	$left: auto,
	$right: auto
){
	margin-top: $top;
	margin-bottom: $bottom;
	margin-left: $left;
	margin-right: $righ;
}
