//Pseudo---------------------------------------------------------
%content_empty
	content: ""

//layout  ---------------------------------------------------------
%display_block
	display: block

%display_none
	display: none

%display_inline_block
	display: inline-block

%display_inline
	display: inline

%clearfix
	@extend %content_empty
	@extend %display_block
	clear: both

%float_left
	float: left

%float_right
	float: right

//size  ---------------------------------------------------------
%width_100
	width: 100%

%width_100vw
	width: 100vw

%width_100vh
	width: 100vh

%height_100
	height: 100%

%height_100vh
	height: 100vh

%height_100vw
	height: 100vw

%width-height_100
	width: 100%
	height: 100%

%margin_0_auto
	margin: 0 auto

%margin_auto
	margin: auto

//bg  ---------------------------------------------------------
%bg-color_#fff
	background-color: #fff

%bg-color_#000
	background-color: #000

%bg-position_center
	background-position: center

%bg_repeat
	background-repeat: repeat

%bg_repeat_x
	background-repeat: repeat-x

%bg_repeat_y
	background-repeat: repeat-y
//color  ---------------------------------------------------------
%color_#fff
	color: #fff

%color_#000
	color: #000

%color_off
	color: transparent

//position  ---------------------------------------------------------
%position_relative
	position: relative

%position_absolute
	position: absolute

%position_fixed
	position: fixed

%z-index_0
	z-index: 0

%top_0
	top: 0

%bottom_0
	bottom: 0

%left_0
	left: 0

%right_0
	right: 0

%top_50
	top: 50%

%bottom_50
	bottom: 50%

%left_50
	left: 50%

%right_50
	right: 50%

%position_width_center
	@extend %position_absolute
	@extend %left_0
	@extend %right_0
	@extend %margin_0_auto

//overflow  ---------------------------------------------------------	
%overflow_hidden
	overflow: hidden
//text  ---------------------------------------------------------
%text_uppercase
	text-transform: uppercase

%text_capitalize
	text-transform: capitalize

%text-align_center
	text-align: center

%text-align_right
	text-align: right

%text-align_left
	text-align: left

%text_off
	@extend %width_100
	@extend %color_off
	@extend %position_absolute
	@extend %z-index_0

%offscreen
	@extend %position_absolute
	@extend %overflow_hidden
	height: 1px
	width: 1px
	clip: rect(1px,1px,1px,1px)
	word-break: initial
	word-wrap: initial
%ir
	@extend %overflow_hidden
	text-indent: -99999em
//cursor  ---------------------------------------------------------
%cursor_pointer
	cursor: pointer